@charset "UTF-8";

/* estilo modo retrato */


body{
    background: url(../imagens/cev-portrait.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;   
}