@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Passion +One & display=swap');

@import url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');


:root{
    --fonte01: verdana, geneva, tahoma, sans-serif;/*padrão*/
    --fonte02: 'Passion One', cursive ;/*títulos*/
    --fonte03: 'Sriracha', cursive ;/*conteúdo*/
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh; /* Tamanho mínimo da viewport */
    background-color: rgb(150, 147, 147);
    font-family: var(--fonte01);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-size: 7vw; /* 10% da largura da tela */ 
    font-family: var(--fonte02);
    padding-top: 50px; 
    font-variant: small-caps; /* transforma uma letra em maiúscula, porém menor do que a tradicional */
}

header > p{
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    color: blue;
    transition: 0.5s;
}

section{
    /* preenchimento 10% da altura da tela */
    padding-top: 10vh; 
    padding-bottom: 10vh;
    /* espaçamento entre as letras (vertical) */
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(90, 90, 90);
    color: white;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.63);
    display: inline-block;/*caixa se adapta ao tamanho do conteúdo*/
}

footer{
    color: white;
    text-align: right;
    background-color: black;
    padding-right: 15px;
}