@charset "UTF-8";

/* estilo para telas */

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(45, 134, 131);
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

header{
    background-color: lightgray;
}

header > h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

header menu{
    background-color: rgb(94, 92, 92);
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 5px;
    color: white;
}

main{
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 10px;
}